/**
 * Section Style: Default
 *
 * Applies colorway background and foreground colors.
 *
 * @package Anticustom
 */

.anti-section {
    color: var(--colorway-hard-contrast);
}

.anti-section[data-colorway] {
    background-color: var(--colorway-base);
}
